/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Pokémon */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.my-pokemon-intro{
    background-image: url(../img/noise.jpg);
}

.poke-cols{
    margin: 0 auto;
    width: 80vw;
}

.poke-mid-body{
    text-align: center;
    font-family: var(--ff-secondary);
    font-size: var(--fs-small);
    margin: 1em;
}


@media(min-width: 880px){
    .poke-cols{
        display: grid;
        grid-template-areas: "heading1  heading2"
                            "text4  text5"
                            "img5  img6";

        grid-template-columns: 40vw 40vw;
        grid-template-rows: 10vh 40vh  30vh;
        grid-column-gap: 2em;
        justify-content: center;
    }

    /* Col 1 */

    .gan_head{
        grid-area: heading1;
    }

    .gan_body{
        grid-area: text4;
    }

    .gan_img{
        grid-area: img5;
        max-height: 30vh;
        margin: 0 auto;
    }
    /* Col 2 */

    .cnn_head{
        grid-area: heading2;
    }

    .cnn_body{
        grid-area: text5;
    }


    .cnn_img{
        grid-area: img6;
        max-height: 30vh;
        margin: 0 auto;
    }

    
    
}
