*,
*::before,
*::after{
    box-sizing: border-box;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Custom Properties */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
:root{
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg: 300;
    --fw-mid: 600;
    --fw-bold: 900;

    --clr-light: #fff;
    --clr-dark: #303030;
    --clr-darker: #1f1f1f;
    --clr-accent: #8CE5CF;
    --clr-err: #FE5F55;

    --clr-white-trans: rgba(255, 255, 255, 255, 0.5);
    --clr-v-light-trans: rgba(48, 48, 48, 0.4);
    --clr-light-trans: rgba(48, 48, 48, 0.7);
    --clr-dark-trans: rgba(29, 29, 29, 0.85);
    --clr-v-dark-trans: rgba(29, 29, 29, 0.98);

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-h4: 1.2rem;
    --fs-body: 1rem;
    --fs-small: 0.9rem;
    --fs-xsmall: 0.7rem;
    --fs-btn: 0.8rem;

    --box-shaddow: 0.25em 0.25em 0.75em rbga(0,0,0,0.25), 
                    0.125em 0.125em 0.25em rgba(0,0,0,0.15);
}



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* General Styling */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

html{
    scroll-behavior: smooth;
}

body{
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

img{
    display: block;
    max-width: 100%;
}

strong{
    font-weight: var(--fw-bold);
}

:focus {
    outline: 3px solid var(--clr-accent);
    outline-offset: 3px;
}


h1, h2, h3{
    line-height: 1.1;
    margin: 0;
}

h1{font-size: var(--fs-h1);}
h2{font-size: var(--fs-h2);}
h3{font-size: var(--fs-h3);}

.error{
    color: red;
}

.btn {
    background: var(--clr-accent);
    font-size: var(--fs-btn);
    font-weight: var(--fw-bold);
    color: var(--clr-dark);
    display: inline-block;
    padding: .5em 3.5em;
    letter-spacing: 2px;
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: transform 200ms ease-in-out;
}

.btn:hover{
    transform: scale(1.1);
}


section{
    padding: 1.5em 1.5em;
}




.section_title{
    margin: 0;
}

.section_title-intro{
    font-weight: var(--fw-reg);  
    margin-bottom: .25em;     
}

.section_title-intro-alt{
    padding-top: 1em;  
}

.section_title-intro strong{
    display: block;    
}

.section_subtitle{
    margin: 0;
    font-size: var(--fs-h3);
}

.section_subtitle-intro,
.section_subtitle-about{
    background-color: var(--clr-accent);
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
    padding: .25em;
}

.section_subtitle-projects{
    color: var(--clr-accent);
    font-family: var(--ff-secondary);
    font-weight: var(--fw-reg);
    font-size: var(--fs-small);
    text-transform: uppercase;
    margin-top: 1em;
    margin-bottom: 2em;
}

@media (min-width: 880px){
    .my-section{
        height: 101vh;
    }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Header */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.header{
    display: flex;
    justify-content: space-between;
    height: 30px;
    margin-bottom: 2em;
}

.header-bar{
    position: fixed;
    width: 100%;
    z-index: 1100;
    height: 4rem;
    
}


.logo_img{
    height: 4rem;
    margin: 0em 1em;
}



/* Tablet Screen Sizes */
@media (min-width: 880px)  {
    .logo_img{
        width: 9vw;
    }
}

@media (max-width: 880px){
    .header-bar{
        background-color: var(--clr-dark-trans);    
    }

    .logo_img{
        width: 100px;
    }


}



/* Nav */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.nav{
    position: fixed;
    background-color: var(--clr-v-dark-trans);
    color: var(--clr-light);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 999;
    height: 100vh;
    padding-top: 4em;
    padding-bottom: 4em;
    transform: translate(100%);
    transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.nav_list{
    list-style: none;
    display: flex;
    height: 80vh;
    flex-direction: column;
    align-items: center;
    margin: 5%;
    padding: 0;
}

.nav_item{
    align-items: center;
    height: 13vh;
}

.nav_link{
    color: inherit;
    font-weight: var(--fw-bold);
    font-size: var(--fs-h3);
    text-decoration: none;
}

.nav_link:hover{
    color: var(--clr-accent)
}


.nav_toggle{
    padding: 0.5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1.5em;
    top: 1.5em;
    
}

.nav-open .nav_toggle {
    position: fixed;
}


@media (max-width: 780px){
    .nav-open .nav {
        transform: translateX(0%);
        text-align: center;
    }
}

@media (min-width: 780px){
    .nav-open .nav {
        transform: translateX(50%);
    }

    .nav_item{
        padding-right: 50%;
    }
}

/* Hamburger Animation - Navigation Toggle */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


.nav-open .hamburger {
    transform: rotate(.625turn);
}

.nav-open .hamburger::before {
    transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
    opacity: 0;
}

/* Hamburger */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.hamburger{
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after{
    background: var(--clr-accent);
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transform: transition 250ms ease-in-out;
}

.hamburger::before{top: 6px}
.hamburger::after{bottom: 6px}

.hamburger::before,
.hamburger::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Intro  */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.intro{
    position: relative;
}

@media (min-width: 780px){
    .intro{
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas: "img title" "img subtitle";
        grid-template-columns: min-content max-content;
        overflow: scroll;
    }

    .intro_img{
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
        box-shadow: var(--box-shaddow);
    }

    

    .section_subtitle-intro{
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -2em;
        width: calc(100% + 2em)
    }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* My Projects */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* Sections */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


.my-project-intro{
    background-color: var(--clr-dark);
    color: var(--clr-light);
    background-size: cover;
    background-position: center;
    padding-top: 2em;
    padding-bottom: 2em;
    
}

.my-project-mid{
    background-color: var(--clr-light);
    color: var(--clr-dark);
   
    padding-top: 2em;
    padding-bottom: 2em;
}

.my-project-end{
    background-color: var(--clr-dark);
    color: var(--clr-light);
    max-height: max-content;
   
    padding-top: 2em;
    padding-bottom: 2em;
}

/* Title */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.section_project-title{
    position: relative;
    top: 0;
    padding-bottom: 0.5em;
    text-align: center;
}

.section_project-title-light{
    color: var(--clr-light);
}

.section_project-title-dark{
    color: var(--clr-dark);
}

/* Subtitle */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.section_subtitle_mid{
    text-align: center;
    font-family: var(--ff-primary);
    font-weight: var(--fw-reg);
    color: var(--clr-dark);
    padding: 0.3em;
   
    margin-bottom: 1em;
    background-color: var(--clr-accent);
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

.section_subtitle_end{
    text-align: center;
    font-family: var(--ff-secondary);
    font-weight: var(--fw-reg);
    font-size: var(--fs-h4);
    color: var(--clr-accent);
    padding: 0.3em;
   
    margin-bottom: 1em;
    background-color: var(--clr-dark-trans);
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

/* Body */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.project-descs{
    margin: 0 auto;
    background-color: var(--clr-dark-trans);
    margin-bottom: 2em;
    padding: 1em;
    text-align: center;
    width: 80vw;
}

.project-mid_body{
    text-align: center;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    font-family: var(--ff-secondary);
    font-size: var(--fs-small);
}

.poke-mid-body::after,
.project-mid_body::after{
    content: '';
    display: block;
    width: 50%;
    height: 1px;
    margin-top: 0.8em;
    margin-bottom: 0.5em;
    margin-left: 25%;
    margin-right: 25%;
    background-color: var(--clr-dark);
    opacity: 0.4;
}

.project-end_body{
    text-align: center;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    font-family: var(--ff-primary);
}


.project-end_body::after{
    content: '';
    display: block;
    width: 50%;
    height: 1px;
    margin-top: 0.8em;
    margin-bottom: 0.5em;
    margin-left: 25%;
    margin-right: 25%;
    background-color: var(--clr-light);
    opacity: 0.4;
}

@media (min-width: 880px) {
    .project-descs {
        display: flex;
        margin-left:  auto;
        margin-right: auto;
        max-height: 80vh;
        overflow: scroll;
    }

    .project-desc{
        width: 33vw;
    }

    .project-desc + .project-desc{
        margin-left: 3em;
    }
}

.desc-head{
    color: var(--clr-accent);
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    text-transform: uppercase;

}

.desc-head::after{
    content: '';
    display: block;
    width: inherit;
    height: 1px;
    margin-top: 0.8em;
    margin-bottom: 0.5em;
    
    background-color: var(--clr-light);
    opacity: 0.4;
}

.desc-body{
    font-family: var(--ff-secondary);
    font-size: var(--fs-small);
    letter-spacing: 0em;
    word-spacing: 0;
}

.banner_img{
    width: 80vw;
    margin: 0 auto;
    margin-bottom: 2em;
    padding: 0em 1em 0em 1em;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Snowsports */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.my-snowsports-intro{
    background-image: url(../img/agathe.jpg);
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* SNKRS */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.my-snkrs-intro{
    background-image: url(../img/snkrs_background.jpg);
}



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Footer */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.footer{
    background-color: var(--clr-darker);
    color: var(--clr-accent);
    text-align: center;
    padding: 2.5em 0;
    font-size: var(--fs-h3);
}

.footer_link{
    font-weight: var(--fw-bold);
}

.social-list{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social-list_item{
    margin: 0 0.5em;
}

.social-list_link{
    padding: 0.5em;
}

.footer a{
    color: inherit;
    text-decoration: none;
}

.footer_link:hover,
.social-list_link:hover{
    opacity: 0.6;
}

.footer_link:hover{
    text-decoration: underline;
}